.ContactForm input,
.ContactForm textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
}

.ContactForm input:focus,
.ContactForm textarea:focus {
    border-color: #a0aec0;
    background-color: #ffffff;
}

.submit-btn {
    background: linear-gradient(90deg, #4c00ff, #9800ff);
    cursor: pointer;
}

.submit-btn:hover {
    background: linear-gradient(90deg, #6a00ff, #c700ff);
}

.open-modal-btn {
    background: linear-gradient(90deg, #ff0080, #ff8c00);
    cursor: pointer;
}

.open-modal-btn:hover {
    background: linear-gradient(90deg, #ff006e, #ffa200);
}
